* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/bg-menu.jpg);
  font-family: Helvetica;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* HEADER */

header {
  background-color: #f5f5f5;
  padding: 2rem;

  color: #000;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1.2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-between;
}

.logo {
  margin-right: auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo h1 {
  color: #54bb8c;
  font-family: Twentieth-Century;
  font-size: 40px;
}

.logo img {
  width: 40px;
  margin-right: 5px;
}

header li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li a {
  color: #000;
  text-decoration: none;
}

header li:hover {
  color: #54bb8c;
}

.content {
  background-color: rgb(236, 236, 236);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

h1 {
  color: #54bb8c;
  font-family: Arial, Helvetica, sans-serif;
}

#qr-panel {
  width: 250px;
  height: 250px;
  margin: 1rem;
}

.border-qr {
  width: 300px;
  height: 300px;
  border-color: #54bb8c;
  border-radius: 20px;
  border-style: solid;
  border-width: 7px;
}

#form-qr {
  display: flex;
  width: 100%;
  padding: 0 2rem;
}

input {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  border: 1px solid #54bb8c;
  font-size: 15px;
}

button {
  padding: 1rem 1rem;
  margin: 1rem 0;
  background-color: #54bb8c;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* .btn-download{
    position: absolute;
    bottom: -50px;
    width: auto;
    height: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    display: none;
} */

/* .btn-download-img{
    background-color: rgb(172, 172, 172);
    border-radius: 15px;
}

.btn-download-img:hover{
    background-color: grey;
} */

@font-face {
  font-family: Twentieth-Century;
  src: url(/font/Twentieth-Century-W01.ttf);
}

@media (min-width: 550px) {
  .logo {
    margin-bottom: 0px;
  }
  nav {
    display: flex;
  }

  nav li {
    flex-basis: auto;
  }
  nav a {
    color: var(--color1);
    background-color: transparent;
    padding: 0;
  }
  nav a:hover {
    color: var(--color2);
    background-color: transparent;
  }
}

@media (min-width: 800px) {
  nav ul {
    justify-content: space-between;
  }
}
